{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
        {% include 'includes/alerts.html' %}
            <header class="mb-4">
                <h4 class="card-title">Sign up</h4>
            </header>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col form-group">
                        <label>Primeiro Nome</label>
                        {{ form.primeiro_nome }}
                    </div> <!-- form-group end.// -->
                    <div class="col form-group">
                        <label>Ultimo Nome</label>
                        {{ form.ultimo_nome}}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Celular</label>
                    {{ form.telefone}}
                </div> <!-- form-group end.// -->
                <div class="form-group col-md-6">
                    <label>Email</label>
                    {{ form.email}}
                </div> <!-- form-group end.// -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Criar Senha</label>
                        {{ form.password}}
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Repetir Senha</label>
                        {{ form.confirm_password}}
                    </div> <!-- form-group end.// -->
                </div>
                
                    <button type="submit" class="btn btn-outline-primary btn-block"> Registrar </button>
            {{ form.email.errors }}
            {{ form.non_field_errors }}  
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Já tem uma conta conosco? <a href="">Log In</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}