{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">

        <div class="intro-banner-wrap">
            <img src="{% static 'images/banners/banner_oficial.png' %}" class="img-fluid rounded">
        </div>

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">

        <header class="section-heading">
            <a href="{% url 'store' %}" class="btn btn-outline-warning float-right">Ver Tudo</a>
            <h3 class="section-title">Mais Procurados</h3>
        </header><!-- sect-heading -->


        <div class="row">
            {% for produto in produtos %}
            {% if forloop.counter <= 12 %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{{ produto.get_url }}" class="img-wrap"> <img src="{{ produto.foto.url }}">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="{{ produto.get_url }}" class="title">{{ produto.produto_nome }}</a>
                        <div class="price mt-1">R$ {{ produto.preco }}</div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            {% endif %}
            {% endfor %}
        </div> <!-- row.// -->

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

</body>

</html>

{% endblock %}